<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Change Password - TalentHub')}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<main>
    <div class="container">
        <h1>Change Password</h1>
        <p class="subtitle">SCR-04 &mdash; Password change (coming in next sprint)</p>
        <div class="card">
            <p>This screen will allow you to change your password. Please check back later.</p>
            <a th:href="@{/profile}" class="btn btn-secondary">Back to Profile</a>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
